In [5]:
import requests
from bs4 import BeautifulSoup
clg = [102,103,106,108,109,110,111,113,115,117,118,119,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,139,140,141,142,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,165]
name = []
reg = []
cgpa = []
regno = "20105"
leregno = "21105"
def frm(x):
    if(x<10):
        return "00"+str(x)
    else:
        return "0"+str(x)
for i in range(0,9):
    cgpa.append([])
for k in clg:
    for i in set(range(1,65)).union(range(901,915)):
        if(i < 70):
            reno = regno + str(k) + frm(i)
        else:
            reno = leregno + str(k) + str(i)
        try:
            url="http://results.beup.ac.in/ResultsBTech8thSem2024Pub.aspx?Sem=VIII&RegNo=" + reno
            response = requests.get(url)
            sp = BeautifulSoup(response.content, 'html.parser')
            nm = (sp.find_all("span", id="ContentPlaceHolder1_DataList1_StudentNameLabel_0"))[0]
            name.append(nm.string)
            regn = (sp.find_all("span", id="ContentPlaceHolder1_DataList1_RegistrationNoLabel_0"))[0]
            reg.append(regn.string)
            table = (sp.find_all("table", id="ContentPlaceHolder1_GridView3"))[0]
            row = (table.find_all("tr")[1]).find_all("td")
            ct = 0
            for j in row:
                cgpa[ct].append(j.string)
                ct += 1
        except:
            continue
    print("Done!")

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

In [6]:
import pandas as pd
df = pd.DataFrame({"Name": name, "Reg No.": reg, "Sem 1": cgpa[0], "Sem 2": cgpa[1], "Sem 3": cgpa[2], "Sem 4": cgpa[3], "Sem 5": cgpa[4], "Sem 6": cgpa[5], "Sem 7": cgpa[6], "Sem 8": cgpa[7], "Overall": cgpa[8]})
df

,Name,Reg No.,Sem 1,Sem 2,Sem 3,Sem 4,Sem 5,Sem 6,Sem 7,Sem 8,Overall
0,NIRMAL KUMAR YADAV,20105102002,9.17,5.60,8.71,7.15,7.37,7.35,7.67,8.33,7.68
1,SONI KUMARI,20105102004,10.00,5.51,8.67,4.67,5.63,4.17,6.33,7.17,6.43
2,SANKALP SHUBHAM,20105102005,10.00,7.29,8.83,7.67,8.11,7.52,9.44,8.50,8.43
3,ABHIK RAJ,20105102006,9.78,8.29,8.71,8.63,8.85,7.96,9.11,9.17,8.81
4,DILCHANDRA KUMAR,20105102007,9.76,5.17,8.04,5.96,5.74,3.13,6.44,7.50,6.42
...,...,...,...,...,...,...,...,...,...,...,...
1010,MD IBRAN ALAM,20105140055,9.22,7.86,7.67,7.15,7.41,6.52,7.67,7.17,7.55
1011,HAMID ZAFAR,20105140056,8.85,8.26,6.96,7.82,7.59,7.13,7.78,8.00,7.75
1012,SHADAB AKHTAR,20105140057,8.90,7.23,7.25,7.11,6.63,5.09,6.22,7.50,6.92
1013,NEHA SABILA,20105140058,9.44,8.63,8.13,8.19,7.37,7.78,9.00,8.50,8.34
1014,SHADAB MUMTAZ,20105140059,8.88,8.66,7.42,8.26,8.19,7.83,7.78,8.17,8.11

In [7]:
df.to_csv('BEUscrapCSE.csv')